| {% extends "layout.html" %}
| {% block content %}
.row
	.col-md-12
		h3 Update your Benchmark Client

		p.
			Currently you're using Benchmark Client version
			#[span.client-version {{ current_version }}], which is out of date.
		p.
			Please
			#[a.download-latest(href="{{ settings.BLENDER_OPENDATA.BASE_URL }}", target="_blank") download the latest Benchmark Client]
			before submitting more benchmark data.
		p.
			Your submitted benchmark was still accepted{% if next %}, and can be seen on #[a(href="{{ next }}") Open Data]{% endif %}.
		| {% if next %}
		p(style="text-align: center")
			a.btn.btn-success(href="{{ next }}") Continue
		| {% endif %}
| {% endblock %}
