| {% extends "layout.html" %}
| {% block content %}
| {{ block.super }}

| {% if samples %}


.box
	.row
		.col-md-6
			h3 Benchmarks
			p.
				Here you can find all your benchmark results.
			p.
				Thank you for contributing data about your hardware specifications and render times.
				This helps Blender development.

			hr

			p.
				Get the full picture on #[a(href="{{ settings.BLENDER_OPENDATA.BASE_URL }}", target="_blank") opendata.blender.org].


		.col-md-6
			.mydata-tokens
				h3 Tokens
				| {% if client_tokens %}
				p.
					In order to submit your Benchmark results, we provide you with a token.
					You can revoke a token to "unlink" your Benchmark software install from this website.
				ul
					| {% for client_token in client_tokens %}
					li Token {{ client_token.token | truncatechars:10  }}
						|{% if client_token.hostname %} on {{client_token.hostname}} {% endif %}
						button.btn-sm.js-action-revoke-token(data-token-id="{{client_token.id}}") Revoke
					| {% endfor %}
				// TODO(fsiddi) if the user has more than 5 tokens, point to the tokens section
				| {% else %}
				p.
					It looks like you did not run the Blender Benchmark yet! Download it from #[a(href="{{ settings.BLENDER_OPENDATA.BASE_URL }}", target="_blank") opendata.blender.org] and give it a go.
				| {% endif %}

.row
	.col-md-12
		.benchmark-actions
			span.title Benchmarks ({{ samples.paginator.count }})

			select#js-value-samples-action
				option(value="") Bulk Actions
				option(value="delete") Delete Selected

			button#js-action-apply Apply

		table.table.table-striped.benchmark-table.box
			thead
				tr
					th(scope='col')
					th(scope='col') #
					th(scope='col') Time
					th(scope='col')
			tbody
				| {% for sample in samples %}
				| {% with sample_link=sample.get_absolute_url %}
				tr(id='js-value-sample-{{ sample.id }}', class="{% if not sample.benchmark_id %}unsynced{% endif %}")
					td
						input(type="checkbox", name="sample", value="{{ sample.id }}", class="sample-select")
					td(scope='row') {{ sample.id }}
					td
						| {% if sample.benchmark_id %}
						a(target='_blank',href='{{ sample_link }}', title="View your benchmark {{ sample.id }} in the Blender Open Data website")
							| {{ sample.date_created|date:"Y-m-d @ H:i" }} UTC
						| {% else %}
						span
							| {{ sample.date_created|date:"Y-m-d @ H:i" }} UTC
						| {% endif %}
					td
						| {% if sample.benchmark_id %}
						a(href='{{ sample_link }}', target='_blank')
							| #[i.fa.fa-link] View public link
						| {% else %}
						span Still syncing to Open Data
						| {% endif %}
				| {% endwith %}
				| {% endfor %}

		| {% include "components/_pagination.html" with items=samples %}

| {% else %}
.box.benchmark-empty
	p.
		You don't have any benchmark data yet.
		#[br] Download the bundle and start benchmarking away!

	a(href="{{ settings.BLENDER_OPENDATA.BASE_URL }}")
		| Go to Open Data
		i.i-chevron-right
| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
| {% load static %}
script(src="{% static 'js/generated/tutti.min.js' %}")

script.
	// Global toastr options
	toastr.options = {
		"positionClass": "toast-bottom-left"
	};

	// Selected samples list, to perform actions on (currently only delete)
	var selectedSamples = [];


	// Update list with selected samples
	$('.sample-select:checkbox').click(function () {
		var sampleId = $(this).val();
		var index = selectedSamples.indexOf(sampleId);
		if (index > -1) {
			selectedSamples.splice(index, 1);
		} else {
			selectedSamples.push(sampleId);
		}
	});

	// Action on Apply press, for Benchmark results deletion
	var $goBtn = $('#js-action-apply');
	$goBtn.click(function (e) {
		let $actionDropDown = $('#js-value-samples-action');
		if ($actionDropDown.val() !== 'delete') {
			toastr.error('Please select an action.');
			return
		}
		toastr.info('Deleting...');
		// var arrayLength = selectedSamples.length;
		// for (var i = 0; i < arrayLength; i++) {
		// 	console.log(selectedSamples[i]);
		// }

		var url = "{% url 'delete_bulk' %}";
		$.post(url, {'samples': selectedSamples},
			function () {
			})
			.done(function (data) {
				toastr.remove()
				// Remove items in samplesDeleted from the table
				for (var i = 0; i < data.results.samplesDeleted.length; i++) {
					let sampleId = data.results.samplesDeleted[i];
					$('#js-value-sample-' + sampleId).fadeOut();
				}
				// Display information about the deleted samples
				if (data.message) {
					toastr.info(data.message);
				}

				// Display errors for items in samplesNotDeleted
				if (data.results.samplesNotDeleted.length > 0) {
					var samplesNotDeletedStr = '';
					for (var e = 0; e < data.results.samplesNotDeleted.length; e++) {
						let sample = data.results.samplesNotDeleted[e];
						samplesNotDeletedStr += '#' + sample.key + ': ' + sample.message + '</br>';
					}

					// Sample or samples depending on the sample count
					let sampleWord = ((data.results.samplesNotDeleted.length > 1) ? 'samples' : 'sample');
					toastr.error('Could not delete the following ' + sampleWord + ':</br>' + samplesNotDeletedStr);
				}
			})
			.fail(function (jqxhr) {
				toastr.error(xhrErrorResponseMessage(jqxhr));
			});

		e.preventDefault();

	});

	// Action on Revoke token press
	$('.js-action-revoke-token').click(function (e) {
		var t = $(this);
		var url = "{% url 'revoke_token' %}";
		$.post(url, {'token_id': t.data('token-id')},
			function () {
			})
			.done(function (data) {
				toastr.info(data.message);
				t.parent('li').fadeOut();
			})
			.fail(function (jqxhr) {
				toastr.error(xhrErrorResponseMessage(jqxhr));
			});
	});


| {% endblock footer_scripts %}
