doctype html
| {% load static %}
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title My Data - blender.org

		link(rel="icon", href="{% static '/images/favicon.ico' %}")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", type="text/css", media="screen")
		link(rel="stylesheet", href="{% static 'css/main.css' %}", type="text/css", media="screen")

		script(src="{% static 'js/vendor/jquery.min.js' %}")
		script(src="{% static 'js/vendor/toastr.min.js' %}")
		script(src="{% static 'js/vendor/js.cookie.js' %}")

	body.mydata
		main.container-main(role="main")
			a(name="hop")
			| {% block navigation_header %}
			| {% include "_navbar.html" %}
			| {% endblock navigation_header %}

			| {% block page_header %}
			.featured.nav-hidden(style="background-image: url('https://www.blender.org/wp-content/uploads/2018/08/dataviz_awesome_by_arif_wahid.jpg');")
				.featured-content
					h1
						| My Data
						| {% include "components/_announcement_label.html" %}

				.featured-overlay

				| {% block nav_secondary %}
				header.navbar.navbar-default.navbar-secondary(role="navigation")
					.container
						ul.nav.navbar-nav
							li
								a(href="{{ settings.BLENDER_ID.BASE_URL }}about") About
							| {% if user.is_superuser %}
							li
								a(href="{% url 'admin:index' %}")
									i.icon
										svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
											path(d='M505.1 19.1C503.8 13 499 8.2 492.9 6.9 460.7 0 435.5 0 410.4 0 307.2 0 245.3 55.2 199.1 128H94.9c-18.2 0-34.8 10.3-42.9 26.5L2.6 253.3c-8 16 3.6 34.7 21.5 34.7h95.1c-5.9 12.8-11.9 25.5-18 37.7-3.1 6.2-1.9 13.6 3 18.5l63.6 63.6c4.9 4.9 12.3 6.1 18.5 3 12.2-6.1 24.9-12 37.7-17.9V488c0 17.8 18.8 29.4 34.7 21.5l98.7-49.4c16.3-8.1 26.5-24.8 26.5-42.9V312.8c72.6-46.3 128-108.4 128-211.1.1-25.2.1-50.4-6.8-82.6zM400 160c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z')
									| Whoosh!
							| {% endif %}
							| {% if user.is_authenticated %}
							li
								a(href="{% url 'oauth:logout' %}")
									i.icon
										svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
											path(d='M400 54.1c63 45 104 118.6 104 201.9 0 136.8-110.8 247.7-247.5 248C120 504.3 8.2 393 8 256.4 7.9 173.1 48.9 99.3 111.8 54.2c11.7-8.3 28-4.8 35 7.7L162.6 90c5.9 10.5 3.1 23.8-6.6 31-41.5 30.8-68 79.6-68 134.9-.1 92.3 74.5 168.1 168 168.1 91.6 0 168.6-74.2 168-169.1-.3-51.8-24.7-101.8-68.1-134-9.7-7.2-12.4-20.5-6.5-30.9l15.8-28.1c7-12.4 23.2-16.1 34.8-7.8zM296 264V24c0-13.3-10.7-24-24-24h-32c-13.3 0-24 10.7-24 24v240c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24z')
									| Log out
							| {% endif %}

				| {% endblock nav_secondary %}
			| {% endblock page_header %}

			.container
				.row
					.col-md-3
						| {% block sidebar %}
						.sidebar-nav
							ul
								li
									a(href="{{ settings.BLENDER_ID.BASE_URL }}")
										i.icon
											svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 496 512')
												path(d='M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z')
										| My Blender ID

								//- li
								//- 	// TODO - Badges URL
								//- 	a(href="XXX")
								//- 		i.icon(style="position: relative; top: 2px")
								//- 			svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 64 64')
								//- 				circle(cx='32', cy='22', r='9')
								//- 				path(d='M53.4,18.4l-1.7-2.2c-0.3-0.4-0.4-0.8-0.4-1.3l0.1-2.7c0.1-2.7-1.8-5.2-4.5-6l-2.4-0.7c-0.5-0.1-0.9-0.4-1.2-0.8l-1.4-2\
								//- 				C40.8,1,38.9,0,36.7,0c-0.8,0-1.5,0.1-2.2,0.4l-2.1,0.8c-0.5,0.2-1,0.2-1.5,0l-2.1-0.8C28.1,0.1,27.3,0,26.5,0\
								//- 				c-2.2,0-4.1,1-5.3,2.8l-1.4,2c-0.3,0.4-0.7,0.7-1.2,0.8l-2.4,0.7c-2.7,0.8-4.6,3.2-4.5,6L12,15c0,0.5-0.1,0.9-0.4,1.3l-1.7,2.2\
								//- 				c-1.7,2.2-1.7,5,0,7.2l1.7,2.2c0.3,0.4,0.4,0.8,0.4,1.3l-0.1,2.7c-0.1,2.7,1.8,5.2,4.5,6l2.4,0.7c0.5,0.1,0.9,0.4,1.2,0.8l1.4,2\
								//- 				c1.2,1.7,3.2,2.8,5.3,2.8c0.8,0,1.5-0.1,2.2-0.4l2.1-0.8c0.5-0.2,1-0.2,1.5,0l2.1,0.8c0.7,0.3,1.5,0.4,2.2,0.4\
								//- 				c2.2,0,4.1-1,5.3-2.8l1.4-2c0.3-0.4,0.7-0.7,1.2-0.8l2.4-0.7c2.7-0.8,4.6-3.2,4.5-6L51.3,29c0-0.5,0.1-0.9,0.4-1.3l1.7-2.2\
								//- 				C55,23.4,55,20.6,53.4,18.4z M32,35c-7.2,0-13-5.8-13-13c0-7.2,5.8-13,13-13s13,5.8,13,13C45,29.2,39.2,35,32,35z')
								//- 				path(d='M24.3,47.5c-2.5-0.6-4.5-2.3-5.9-4.4l0,0c0,0,0,0,0,0L12.5,59c0,0,0,0,0,0l8-2c0,0,0,0,0,0l5,7c0,0,0,0,0,0l6-17.2\
								//- 				l-1.1,0.4C28.5,47.9,26.4,48,24.3,47.5z')
								//- 				path(d='M46.3,41.9l-0.9,1.4c-1.9,2.9-5,4.6-8.4,4.6c-1,0-1.9-0.1-2.8-0.4L40,64l5-7l8,2l-6.3-17.2L46.3,41.9z')
								//- 		| My Badges

								li.active
									a(href="{% url 'index' %}")
										i.icon
											svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 512 512")
												path(d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zm-308-44v-72c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v72c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0V204c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v136c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0V140c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v200c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0V108c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v232c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12z")
										| My Data

								li
									a(href="{{ settings.BLENDER_ID.BASE_URL }}applications")
										i.icon
											svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 512 512")
												path(d="M128 116V76c0-8.837 7.163-16 16-16h352c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H144c-8.837 0-16-7.163-16-16zm16 176h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zM16 144h64c8.837 0 16-7.163 16-16V64c0-8.837-7.163-16-16-16H16C7.163 48 0 55.163 0 64v64c0 8.837 7.163 16 16 16zm0 160h64c8.837 0 16-7.163 16-16v-64c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v64c0 8.837 7.163 16 16 16zm0 160h64c8.837 0 16-7.163 16-16v-64c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v64c0 8.837 7.163 16 16 16z")
										| Applications
						| {% endblock sidebar %}

					.col-md-9
						| {% block content %} {% endblock %}

		.footer-pages
			.container
				ul
					li
						a(href="{{ settings.BLENDER_ID.BASE_URL }}privacy-policy") Privacy Policy
					li
						a(href="{{ settings.BLENDER_ID.BASE_URL }}terms-of-service") Terms of Service

		| {% block footer %}
		| {% include "_footer.html" %}
		| {% endblock footer %}

		| {% block footer_scripts %}
		| {% endblock footer_scripts %}

		script(src="{% static 'js/generated/tutti_bwa.min.js' %}")
