| {% extends "layout.html" %}
| {% block content %}
.row
	.col-md-12
		h3 Your Submission was Queued

		p.
			There was a temporary issue processing your submitted benchmark. Don't worry, your data
			was received by us just fine. It'll just take a while to show up on the Open Data
			platform.
		p.
			You can reload this page to see if the submission was processed, or monitor the progress
			at #[a(href="{% url 'index' %}") My Data].

| {% endblock %}
