| {% extends "layout.html" %}
| {% block content %}
| {{ block.super }}
.container
	.row.flex
		.col-md-6
			.box
				h2 My Data
				p.
					We are generating a benchmark token for you. Hold tight.

| {% load static %}
script(src="{% static 'js/generated/tutti.min.js' %}")
script.
	$(function() {
		$.post("{{ post_to }}", {
			hostname: "{{ token_hostname }}"
		})
		.fail(function(err) {
			console.log(err);
			/* TODO(Sybren): put the response in the error message,
			 * and inform the user of what to do next. */
			toastr.error(xhrErrorResponseMessage(jqxhr));
		})
		.done(function(resp) {
			let url = "{{ success_url }}?token=" + escape(resp.token);
			window.location.href = url;
		})
		;
	});
| {% endblock %}
