.pagination
	span.step-links
		| {% if items.has_previous %}
		a(href='?page=1') « first
		a(href='?page={{ items.previous_page_number }}') previous
		| {% endif %}
		span.current
			| Page {{ items.number }} of {{ items.paginator.num_pages }}
		| {% if items.has_next %}
		a(href='?page={{ items.next_page_number }}') next
		a(href='?page={{ items.paginator.num_pages }}') last »
		| {% endif %}
